.box {
    margin: 1rem;
    background-color: white;
    border-radius: 10%;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.514);
    width: 30%;
    text-align: center;
}

.e_title{
    margin: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 5rem;
    color: #333358;
}

.e_typology{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.e_description{
    text-align: center;
    
    padding-bottom: 0;
    margin-right: 15rem;
    margin-left: 15rem;
    background-color: rgba(192, 192, 192, 0.548);
    }

.detail{
    color:red;
    background-color: black;
}

.img{
    object-fit: contain;
    padding: 1rem;
    box-shadow: none;
    border-radius: 10%;
    background-color: transparent;
    text-align: center;
}

.view_exercise_detail{
    display: flex;
}

article.box_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333358;
}

