/* .exercise {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 20%);
  border-radius: 5px;
}

.product_user_info {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.product_user_info img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.product_info {
  flex-grow: 1;
  padding: 1rem;
}

.product_info img {
  width: 100%;
}
 */

.boxes {
    margin: 1rem;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.336);
}
.title {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 2.7rem;
}

.typology {
    text-align: center;
    padding: 2rem;
    padding-top: 0.5rem;
    font-size: medium;
}

.nLikes {
    padding: 1rem;
    text-align: right;
}

.Link {
    text-decoration: none;
    color: rgb(51, 51, 88);
}
