input:checked + label {
    color: red;
  }

#opt-in{
    display: none;
}


input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked {
    /*box-shadow: 0 0 0 3px hotpink;*/
    display: hidden;
}