* {
    flex: grid;
    align-items: center;
    justify-content: center;
}

.Pass {
    max-width: 6rem;
    max-height: 2rem;
}

.RememberForm {
    margin-left: 40rem;
    align-items: center;
    justify-content: center;

    max-width: 40rem;
}
