.FavButton {
	content: url(../../assets/imagenes/img_fav1.png);
}

.FavButton:hover {
	content: url(../../assets/imagenes/start.png);
}

.FavButton.favorited {
	content: url(../../assets/imagenes/start.png);
}
