header nav ul{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    font-size: 22px;
    justify-content: flex-end;
    flex-wrap: nowrap;
}