nav {
    background-color: rgb(51, 51, 88);
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 0 1rem;
    position: relative;
    list-style-type: none;
    cursor: pointer;
    color: black;
}

nav ul li:after {
    content: '';
    position: relative;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
}

.last_ul {
    float: right;
}



.LinkNavbar {
    text-decoration: none;
    color: white;
    object-fit: contain;
}

.LinkNavbar:hover {
    /* background-color: rgb(16, 16, 54); */
    background-color: white;
    color: black;
}

.logo_nav {
    height: 6.9rem;
    object-fit: contain;
}

.bienvenido {
    color: rgb(156, 151, 151);
}

.search {
  background-color: transparent;

}

nav form {
  background-color: transparent;
  display: flex;
  padding: 1rem;
  margin: 0;
  margin-left: 1rem;
  flex-direction: row;
  border-color: rgba(240, 248, 255, 0.377);
  
}
