* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    padding-top: 8rem;
    padding-left: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

link {
    text-decoration: none;
}
