* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    flex-grow: 1;
} */
footer {
    padding-left: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
